#about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway";
    overflow: hidden;
    z-index: 1;
    margin: 3rem;
    text-align: center;
}

.about-heading{
    margin: 3rem;
}

.about-heading h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #001D3D;
    font-weight: 700;
}

.about-heading hr{
    margin: 5px;
    border: 0;
    height: 1.5px;
    background: #001D3D;
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
    margin:auto;
    width: 60%;
}

.upperAboutSection{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.about-box .box-img{
    background-color: rgba(1, 128, 244, 1);
    height: 10rem;
    width: 10rem;
    padding: 40px;
    font-size: 5rem;
    clip-path: circle(50% at 50% 50%);
    margin: auto;
    color: white;
    transform: scale(0.8);
    transition: all 0.5s;
    cursor: pointer;
}


.about-box .box-heading{
    color: #262627;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
}

.about-box .box-content{
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.about-box:hover .box-img{
    transform: scale(1) rotate3d(0, 1, 0, 360deg);
    background-color: rgb(0, 65, 194);
}


.lowerAboutSection{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.left-about{
    margin-top: 10%;
    height: 100%;
    margin: auto;
}

.left-about .my-img{ 
    position: relative; 
    width: 300px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 50%; 
    margin: auto;
    box-shadow: 10px 10px 10px -5px rgb(118, 118, 118);
    
}


.my-img img{
    width: 100%;
    margin-top: -50px;
    transform: scale(1.2);
    height: auto;
}

@media screen and (max-width:530px) {
    .left-about .my-img{
        width: 200px;
        height: 200px;
    }
    .my-img img{
        transform: scale(1.1);
    }
}


.left-about .my-desc{
    color: #9b9b9b;
    margin: 2rem;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;
    height: 30%;;
}



